body {
    background: rgb(56, 56, 56);
  }
  
  .clock {
    position: relative;
    text-align: center;
    color: rgb(171, 119, 31);
    font-size: 60px;
   
  }
  
  .text1 {
    position: relative;
    text-align: center;
    color: rgb(208, 148, 47);
    font-size: 20px;
    
  }
  
  .text2 {
    position: relative;
    text-align: center;
    color: rgb(208, 148, 47);
    font-size: 20px;
  }
  
   img {
       margin-top: 100px;
       width: 25%;
  }